body {
	font: 14px Arial, times, georgia;
	color: #000;
	background: #B2A589;
	padding: 20px;
	margin: 10px;
}
td {
	padding: 20px;
	background: #FFB896;
	border: 10px solid #FFF9B1;
	text-align: left;
	vertical-align: top;
}
table {
	border-collapse: collapse;
}
h1 {
	font-size: 40px;
}
h1 , p {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 0px;
}
a {
	color: #11929E;
}
a:hover {
	color: #11929E;
	font-weight: bold;
}
img {
	border: 1px solid #11929E;
}
.doctor-main-page td {
	padding: 15px;
}
.doctor-main-page img {
	border: 5px solid #11929E;
}